<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'фитнес-тренер, инструктор по питанию',
      permalink: '/course/pay-2/',
      name: client.name,
      author_title: client.description,
      headline: 'Оплатите участие в&nbsp;курсе &laquo;АнтиЗОЖ-Трансформация&raquo;',
      lead: 'Ссылка на&nbsp;подключение к&nbsp;курсу придет вам на&nbsp;указанную почту. Чтоб не&nbsp;пропустить новостей курса и&nbsp;дополнительные уроки&nbsp;&mdash; подпишитесь на&nbsp;мои страницы <a href="https://www.facebook.com/%D0%A4%D0%B8%D1%82%D0%BD%D0%B5%D1%81-%D1%82%D1%80%D0%B5%D0%BD%D0%B5%D1%80-%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD-%D0%91%D0%BE%D1%80%D1%82%D0%BD%D0%B8%D0%BA-141564476426589/" target="_blank"><i class="fab fa-facebook" style="margin-right:5px;"></i>Facebook</a> и <a href="https://www.instagram.com/roman__bortnik/" target="_blank"><i class="fab fa-instagram"  style="margin-right:5px;"></i>Instagram</a>',
      amount_text: '11000 рублей',
      amount: '11000',
      target: 'Персональный курс',
      successURL: site.url + '/course-ok/',

      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.png'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <%- include(subfolder + 'template-parts/_pay.ejs') %>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>