<%#
  Шаблон ожидает следующую структуру переменной cta на входе.
  cta = {
    title: 'Сделайте шаг навстречу стабильному и&nbsp;прибыльному отделу продаж!',
    descr: '',
    button: {
      lable: '', // Если пустое значение будет использовано значение page.title либо site.title
      type: 'modal', // Варианты значений: modal, price, m.me, other  
      href: '' // Будет использовано при type: 'other' 
    }
  }
%>
<section class="sec calltoact">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10 text-center">
        <h2 class="sec__title"><%- cta.title %></h2>
        <p class="sec__descr"><%- cta.descr %></p>
        <% if (cta.button.type != 'modal') { %><%- '<!-- ' %><% } %>
        <button type="button" class="btn" data-toggle="modal" data-target="#modal"><% if (cta.button.lable) { %><%- cta.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></button>
        <% if (cta.button.type != 'modal') { %><%- ' -->' %><% } %>
        <% if (cta.button.type != 'price') { %><%- '<!-- ' %><% } %>
        <a href="#price" class="btn" type="button"><% if (cta.button.lable) { %><%- cta.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (cta.button.type != 'price') { %><%- ' -->' %><% } %>
        <% if (cta.button.type != 'm.me') { %><%- '<!-- ' %><% } %>
        <a href="https://m.me/<%- site.fb_group_id %>?ref=/start" class="btn" type="button"><% if (cta.button.lable) { %><%- cta.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% if (cta.button.type != 'm.me') { %><%- ' -->' %><% } %>
        <% if (cta.button.type == 'other') { %>
        <a href="<%- cta.button.href %>" class="btn" type="button"><% if (cta.button.lable) { %><%- cta.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
        <% } %>
      </div>
    </div>
  </div>
</section>
