<%#
  Шаблон ожидает следующую структуру переменной cases на входе.
  cases = {
    title: 'Кейсы',
    items: [
      {
        name: 'Елена Феоктистова',
        info: 'Директор Центра Финансовой Культуры <br>@elena_fincult',
        was: [
          'Не&nbsp;было эфиров. Страница в&nbsp;инстаграме без активности'
        ],
        now: [
          'Эфиры на&nbsp;тв. Впоследствии Елена стала гостем и&nbsp;других программ на&nbsp;тв. Увеличено количество подписчиков, появилась активность и&nbsp;вовлечённость. Больше людей узнали о&nbsp;ее&nbsp;бизнесе.'
        ]
      },
      {
        name: '',
        info: '',
        was: [
          ''
        ],
        now: [
          ''
        ]
      }
    ]
  }
%>
<section class="sec case">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title"><%- cases.title %></h2>
      </div>
    </div>
    <% 
    if (cases.items.length) { 
      cases.items.forEach(function (item) {
    %>
    <div class="row">
      <div class="col-12 col-lg-2 offset-xl-1 align-self-center text-center">
        <div class="case__user">
          <div class="case__pic"><img src="/images/template/<%= site.template %>/user.png" alt=""></div>
          <p class="case__name"><%- item.name %></p>
          <p class="case__info"><%- item.info %></p>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <div class="case__was">
          <p class="case-title">Было</p>
          <ul class="case-list">
              <% 
              if (item.was.length) { 
                item.was.forEach(function (was) {
              %>
              <li><img src="<%-was %>"></li>
              <% });
              } 
              %>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-xl-4">
        <div class="case__now">
          <p class="case-title">Стало</p>
          <ul class="case-list">
              <% 
              if (item.now.length) { 
                item.now.forEach(function (now) {
              %>
              <li><img src="<%- now %>"></li>
              <% });
              } 
              %>
          </ul>
        </div>
      </div>
    </div>
    <% });
    } 
    %>
  </div>
</section>
