<%#
  Шаблон ожидает следующую структуру переменной diplomas на входе.
  diplomas = {
    is_even_section: false,
    title: 'Отзывы',
    images: [
      '/images/diploma/01.jpg',
      '/images/diploma/02.jpg',
      '/images/diploma/03.jpg'
    ]
  }
%>
<section class="sec diplomas <%= (diplomas.is_even_section) ? 'even' : 'odd' %>">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title"><%- diplomas.title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <div class="diplomas_list<%= (diplomas.images.length <= 3) ? '-2' : '' %>"> <%- (diplomas.images.length <=3) ? '<!--если меньше 3-х diplomas_list -->' : '' -%>

          <% 
          if (diplomas.images.length) { 
            diplomas.images.forEach(function (item) { 
          %>
          <div class="diplomas_item">
            <a class="link-img" href="<%- item %>"><img src="<%- item %>" alt=""></a>
          </div>
          <% });
          } 
          %>

      </div>
    </div>
  </div>
</section>