<%#
  Шаблон ожидает следующую структуру переменной format_items на входе.
  format_items = {
    title: 'Узнай свою новую стратегию успеха',
    descr: 'Запишись на&nbsp;корпоративный тренинг и&nbsp;открой главные секреты успешных продаж',
    items: [
      {
         icon: '/images/template/' + site.template + '/format/' + site.target + '/1.png',
        descr: 'Тренинг предназначен для увеличения эффективности твоего отдела продаж и&nbsp;может длиться 1, 2&nbsp;или 3&nbsp;дня'
      },
      {
        icon: '/images/template/' + site.template + '/format/' + site.target + '/2.png',
        descr: 'Приятным бонусом после тренинга является снижение текучки персонала в&nbsp;отделе продаж'
      },
      {
        icon: '/images/template/' + site.template + '/format/' + site.target + '/3.png',
        descr: 'Гарантированный минимальный рост продаж после полного тренинга&nbsp;&mdash; 23%, средний&nbsp;&mdash; 42%'
      }
    ]
  }
%>
<section class="sec format">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title"><%- format_items.title %></h2>
        <p class="sec__descr"><%- format_items.descr %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <ul class="format__list">

          <% 
          if (format_items.items.length) { 
            format_items.items.forEach(function (icon_item) {
          %>
          <li>
            <div class="format__icon"><img src="<%- icon_item.icon %>" alt=""></div>
            <p><%- icon_item.descr %></p>
          </li>
          <% });
          } 
          %>
          
        </ul>
      </div>
    </div>
  </div>
</section>
