<div class="top">
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col col-lg-10"><span class="descr"><%- header_description %></span></div>
    </div>
  </div>
</div>
