<%#
  Шаблон ожидает следующую структуру переменной logogrid на входе.
  logogrid = {
    title: 'Клиенты',
    images: [
      '/images/feedback/novatek.png',
      '/images/feedback/docke.png'
    ]
  }
%>
<section class="sec">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- logogrid.title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <div class="row justify-content-center align-items-center video__list">

          <% 
          if (logogrid.images.length) { 
            logogrid.images.forEach(function (logo) {
          %>
          <div class="col-6 col-lg-3">
            <div class="text-center px-3">
              <img src="<%- logo %>" alt="">
            </div>
          </div>
          <% });
          } 
          %>

        </div>
      </div>
    </div>
  </div>
</section>
