<%#
  Шаблон ожидает следующую структуру переменной price на входе.
  price = {
    title: 'Сделай первый шаг на&nbsp;пути к&nbsp;увеличению продаж',
    descr: 'Выбери вариант участия в&nbsp;тренинге, который подходит тебе больше всего',
    items: [
      {
        name: 'Один день тренинга',
        amount: '80&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '' // Будет использовано при type: 'other' или 'modal' 
        }
      },
      {
        name: 'Два дня тренинга',
        amount: '140&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '' // Будет использовано при type: 'other' или 'modal' 
        }
      }
    ]
  }
%>
<section class="sec price" id="price">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title"><%- price.title %></h2>
        <p class="sec__descr"><%- price.descr %></p>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-10 offset-xl-1">
        <ul class="price__list">

          <% 
          if (price.items.length) { 
            price.items.forEach(function (item) {
          %>
          <li>
            <div class="price__list-item">
              <p class="price__list-title"><%- item.name %></p>
              <p class="price__list-amount"><%- item.amount %></p>
              <% if (item.descr) { %><p class="price__list-descr"><%- item.descr %></p><% } %>
              <% 
              if (item.features.length) { 
              %>
              <ul class="price__list-features text-left">
                <% item.features.forEach(function (feature) { %>
                <li><%- feature %></li>
                <% }); %>
              </ul>
              <%
              } 
              %>
              <% if (item.button.type != 'modal') { %><%- '<!-- ' %><% } %>
              <button type="button" class="btn" data-toggle="modal" data-target="<%- (item.button.href)? item.button.href : '#modal' %>"><% if (item.button.lable) { %><%- item.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></button>
              <% if (item.button.type != 'modal') { %><%- ' -->' %><% } %>
              <% if (item.button.type != 'price') { %><%- '<!-- ' %><% } %>
              <a href="#price" class="btn" type="button"><% if (item.button.lable) { %><%- item.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
              <% if (item.button.type != 'price') { %><%- ' -->' %><% } %>
              <% if (item.button.type != 'm.me') { %><%- '<!-- ' %><% } %>
              <a href="https://m.me/<%- site.fb_group_id %>?ref=/start" class="btn" type="button"><% if (item.button.lable) { %><%- item.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
              <% if (item.button.type != 'm.me') { %><%- ' -->' %><% } %>
              <% if (item.button.type == 'other') { %>
              <a href="<%- item.button.href %>" class="btn" type="button"><% if (item.button.lable) { %><%- item.button.lable %><% } else { %><%- (page.title) ? page.title : site.title %><% } %></a>
              <% } %>
            </div>
          </li>
          <% });
          } 
          %>
          
        </ul>
      </div>
    </div>
  </div>
</section>
