<%#
  Шаблон ожидает заполненные значения для заголовка и подзаголовка в переменной page
  page = {
    problems_title: 'Хочешь отдел продаж, который работает без&nbsp;перебоев?',
    problems_subtitle: 'Низкие продажи, большой процент отказов и&nbsp;текучка&nbsp;кадров&nbsp;&mdash; верные&nbsp;признаки, <span class="text-nowrap">что пора что-то менять</span>',
  }

  А также следующую структуру переменной problems на входе.
  problems = {
    image: '/images/template/target/' + site.target + '/problems.png',
    list: [
      'Продажи не&nbsp;радуют и&nbsp;ты&nbsp;не&nbsp;знаешь, как это исправить',
      'Твой продукт хорош, но&nbsp;клиенты почему-то в&nbsp;нём не&nbsp;заинтересованы',
      'У&nbsp;тебя нет качественных рабочих методик и&nbsp;инструментов для продаж, и&nbsp;ты&nbsp;не&nbsp;знаешь, откуда их&nbsp;взять'
    ]
  }
%>
<section class="sec problems" id="problems">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10">
        <h2 class="sec__title <%- (site.target =='without picture') ? 'text-lg-center' : '' %>"><%- page.problems_title %></h2>
        <p class="sec__descr <%- (site.target =='without picture') ? 'text-lg-center' : '' %>"><%- page.problems_subtitle %></p>
      </div>
    </div>
    <div class="row">
      <div class="<% if (site.target == 'without picture') { %> col-lg-10 offset-lg-1<% } else { %>col-xl-8 offset-xl-1 <% } %>">
        <ul class="problems__list">
          <% 
          if (problems.list.length) { 
            problems.list.forEach(function (item) {
          %>
          <li><i class="i-problems"></i><span><%- item %></span></li>
          <% });
          } 
          %>
        </ul>
      </div>
    </div>
  </div>
  <% if (site.target != 'without picture') { %>
  <div class="problems__pic"><img src="<%- problems.image %>" alt=""></div>
  <% } %> 
</section>