<%#
  Шаблон ожидает следующую структуру переменной program на входе.
  program = {
    title: 'Расписание вебинаров',
    list: [
      '06.02.2019&nbsp;в 19.00 по&nbsp;мск &laquo;Эмоциональный детокс для владельцев бизнеса&raquo;',
      '13.02.2019&nbsp;в 19.00 по&nbsp;мск &laquo;Как меньше стрессовать, занимаясь бизнесом&raquo;'
    ]
  }
%>
<section class="sec program">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-1 col-lg-10">
        <h2 class="sec__title"><%- program.title %></h2>
        <p class="sec__descr" style="margin-bottom: 20px;">Открой для себя формулу успеха!</p>
        <p class="sec__descr">Программа тренинга включает 4 этапа:</p>
      </div>
    </div>
    <% 
    if (program.content.length) { 
      program.content.forEach(function (item) {
    %>
    <div class="row">
        <% 
                        if (item.list.length) { 
                          item.list.forEach(function (bullet,index) {
                        %>
      <div class="col-12 offset-lg-2 col-lg-8 mt-4">
        <div class="d-flex justify-content-between">
          <div>

            <% 
                        if (bullet.list_title.length) { 
                          bullet.list_title.forEach(function (list_title) {
                        %>
            <h4><%- list_title %></h4>
            <% });
        } 
      %>
      <% 
                        if (bullet.list_description.length) { 
                          bullet.list_description.forEach(function (list_description) {
                        %>
            <p class="lead"><%- list_description %></p>
            <% });
        } 
      %>
          </div>
          <a class="b-thanks__more collapsed btn " role="button" data-toggle="collapse" href="#program<%- index + 1 %>"
            aria-expanded="false" aria-controls="program<%- index + 1 %>">подробнее</a>
        </div>
        <div class="collapse in" id="program<%- index + 1 %>" aria-expanded="false">
          <table class="steps">
            <tbody>
              <tr>
                <td>
                  <ul class="program__list">
                    <% 
                        if (bullet.list_item.length) { 
                          bullet.list_item.forEach(function (list_item) {
                        %>

                    <li>
                      <h5 class="program__list-title"><%- list_item %></h5>
                    </li>
                    <% });
                        } 
                      %>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% });
        } 
      %>

    </div>
    <% });
        } 
        %>
  </div>
</section>