<%#
  Шаблон ожидает заполненные значения для заголовка и подзаголовка в переменной page
  page = {
    solutions_title: 'Заставь работников показать, на&nbsp;что&nbsp;они&nbsp;реально&nbsp;способны',
    solutions_subtitle: 'На&nbsp;тест-драйве ты&nbsp;узнаешь, как&nbsp;создается&nbsp;коллектив&nbsp;людей, способных&nbsp;продать&nbsp;снег&nbsp;зимой',
  }

  А также следующую структуру переменной solutions на входе.
  solutions = {
    image: '/images/template/target/' + site.target + '/solutions.jpg',
    list: [
      'Построишь принципиально новую модель работы с&nbsp;ключевыми (особо крупными) клиентами, основанную на&nbsp;создании добавленной ценности',
      'Построишь стабильный мотивированный отдел без текучки и&nbsp;прокрастинации',
      'Получишь готовые инструменты для дальнейшей работы отдела',
      'Сможешь зарабатывать больше конкурентов и&nbsp;научитесь методам продажи без скидок',
      'Получишь как техники активного поиска клиентов, так и&nbsp;способы обработки текущих и&nbsp;возвращения старых клиентов с&nbsp;максимальной конверсией',
      'Сможешь добиться увеличения средней суммы чека за&nbsp;счет продажи дополнительных товаров и&nbsp;услуг',
      'Узнаешь, как закрывать клиентов, которые говорят &laquo;я&nbsp;подумаю&raquo;, &laquo;давайте не&nbsp;сейчас&raquo;',
      'Научишься отвечать на&nbsp;любые возражения клиентов',
      'Гарантированный минимальный рост продаж после полного тренинга&nbsp;&mdash; 23%, средний&nbsp;&mdash; 42%'
    ]
  }
%>
<section class="sec solutions">
  <div class="container">
    <div class="row">
      <div class="col offset-xl-1 col-xl-10 <% if (site.target  == 'without picture') { %> text-lg-center<% } else { %>text-lg-right <% } %>">
        <h2 class="sec__title <%- (site.target  == 'without picture') ? 'text-lg-center' : '' %>"><%- page.solutions_title %></h2>
        <p class="sec__descr <%- (site.target  == 'without picture') ? 'text-lg-center pl-0' : '' %>"><%- page.solutions_subtitle %></p>
      </div>
    </div>
    <div class="row">
      <div class="<% if (site.target  == 'without picture') { %> col-lg-10 offset-lg-1<% } else { %>col-lg-9 offset-lg-3 col-xl-8 <% } %>">
        <ul class="solutions__list">
            <% 
            if (solutions.list.length) { 
              solutions.list.forEach(function (item) {
            %>
            <li><i class="i-solutions"></i><span><%- item %></span></li>
            <% });
            } 
            %>
        </ul>
      </div>
    </div>
  </div>
  <% if (site.target  != 'without picture') { %>
  <div class="solutions__pic"><img src="<%- solutions.image %>" alt=""></div>
  <% } %> 
</section>