@font-face {
  font-family: "Brutal Type";
  font-weight: 100;
  font-style: normal;
  src: font-url("fonts/BrutalTypeExtralight/BrutalTypeExtralight.otf") format("opentype"), font-url("fonts/BrutalTypeExtralight/BrutalTypeExtralight.woff") format("woff"), font-url("fonts/BrutalTypeExtralight/BrutalTypeExtralight.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: 300;
  font-style: normal;
  src: font-url("fonts/BrutalTypeLight/BrutalTypeLight.otf") format("opentype"), font-url("fonts/BrutalTypeLight/BrutalTypeLight.woff") format("woff"), font-url("fonts/BrutalTypeLight/BrutalTypeLight.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: normal;
  font-style: normal;
  src: font-url("fonts/BrutalType/BrutalType.otf") format("opentype"), font-url("fonts/BrutalType/BrutalType.woff") format("woff"), font-url("fonts/BrutalType/BrutalType.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: medium;
  font-style: normal;
  src: font-url("fonts/BrutalTypeMedium/BrutalTypeMedium.otf") format("opentype"), font-url("fonts/BrutalTypeMedium/BrutalTypeMedium.woff") format("woff"), font-url("fonts/BrutalTypeMedium/BrutalTypeMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Brutal Type";
  font-weight: bold;
  font-style: normal;
  src: font-url("fonts/BrutalTypeBold/BrutalTypeBold.otf") format("opentype"), font-url("fonts/BrutalTypeBold/BrutalTypeBold.woff") format("woff"), font-url("fonts/BrutalTypeBold/BrutalTypeBold.woff2") format("woff2");
}
