// Override some Bootstrap variables
$grid-breakpoints: (
    xs: 0,
    sm: 576px, //Default 576px
    md: 768px, //Default 768px
    lg: 992px, //Default 992px
    xl: 1230px //Default 1200px
);
$container-max-widths: (
    sm: 540px, //Default 540px
    md: 720px, //Default 720px
    lg: 960px, //Default 960px
    xl: 1200px //Default 1140px
);


// $enable-gradients: true;
// $enable-shadows:   true;
// $body-bg: #fff;
// $body-color: #000;

// $font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:            $font-family-sans-serif;
// $font-size-base:              1rem; // Assumes the browser default, typically `16px`
// $font-size-lg:                ($font-size-base * 1.25);
// $font-size-sm:                ($font-size-base * .875);

// $breadcrumb-divider: none;
// $breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
// $breadcrumb-divider: quote(">");

// $carousel-transition: transform 2s ease, opacity .5s ease-out;


// $modal-xl: 1140px;
// $modal-lg: 800px;
// $modal-md: 500px;
// $modal-sm: 300px;
// $modal-backdrop-bg: $teal;
// $modal-backdrop-opacity: .9;
// $modal-fade-transform: scale(.8);


/* Include Bootstrap v4 styles */

// Option A: Include all of Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Option B: Include parts of Bootstrap
// Required
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
// Modifications that needed to be between Bootstrap required and optional parts

// $theme-colors: map-remove($theme-colors, "info", "light", "dark");
// $grid-breakpoints: map-remove($grid-breakpoints, "sm");
// $container-max-widths: map-remove($container-max-widths, "sm");

// End modifications
// Optional Bootstrap parts
// @import "../../node_modules/bootstrap/scss/root"; //For prototyping only
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code"; //code, pre, var, kbd, samp HTML tags
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/jumbotron";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";
/* END of the Bootstrap parts */
