<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: 'Спасибо!',
      permalink: '/course-ok/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper" class="page">
      <header class="header">
        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>
      </header>
      <section class="content">
        <div class="container">
          <div class="row align-items-end justify-content-center py-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              <h1 class="content__title">Спасибо!</h1>
              <p class="content__descr">Ссылка на&nbsp;подключение к&nbsp;курсу придет вам на&nbsp;указанную почту. Чтоб не&nbsp;пропустить новостей курса и&nbsp;дополнительные уроки&nbsp;&mdash; подпишитесь на&nbsp;мои страницы</p>
              <a href="https://www.facebook.com/%D0%A4%D0%B8%D1%82%D0%BD%D0%B5%D1%81-%D1%82%D1%80%D0%B5%D0%BD%D0%B5%D1%80-%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD-%D0%91%D0%BE%D1%80%D1%82%D0%BD%D0%B8%D0%BA-141564476426589/" target="_blank"><i class="fab fa-facebook" style="margin-right:5px;"></i>Facebook</a>
              <a href="https://www.instagram.com/roman__bortnik/" target="_blank"><i class="fab fa-instagram"  style="margin-right:5px;"></i>Instagram</a>
              <p style="margin-top: 10px;">Также, вы можете написать мне в мессенджер или директ.</p>
              <!--                    <a href="" class="btn"> </a>-->
            </div>
            <div class="col-12 col-md-10 col-lg-7"><img src="/images/base/contact.jpg" alt=""></div>
          </div>
        </div>
      </section>
      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>