<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: '<em>АНТИЗОЖ-ТРАНСФОРМАЦИЯ</em>&nbsp;&mdash; ешь любимые булочки и&nbsp;стройней',
      header_subtitle: 'Курс на&nbsp;трансформацию тела с&nbsp;Романом Бортником',
      video: 'KxuizqKLiWE', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Хочешь роскошное тело, но&nbsp;не&nbsp;готов себе в&nbsp;чем-то отказывать?',
      problems_subtitle: 'Мечтаешь быть объектом зависти и&nbsp;восторгов, но&nbsp;не&nbsp;любишь напрягаться',
      solutions_title: 'Обрети красивое и&nbsp;здоровое тело без лишних нагрузок',
      solutions_subtitle: 'Антизож-курс, который сделает тебя новым человеком с&nbsp;прежним образом жизни',
      author_descr: 'фитнес-тренер, диетолог, нутрициолог',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + 'Роман Бортник -- фитнес-тренер, инструктор по питанию'
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: 'Записаться на курс', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list:[
          'Революционная система потери веса, с которой можно худеть практически без ограничений',
          'Тренировки и питание для тех, кто ценит личный комфорт',
          'Избавься от 0,5-1,5 кг жира в неделю и приведи свое тело в порядок'

              ]
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>


      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: [
            'Ты&nbsp;хочешь быть здоровым, энергичным и&nbsp;сильным человеком, у&nbsp;которого на&nbsp;всё хватает запала и&nbsp;энергии',
            'Десятки популярных &laquo;систем питания&raquo; доказали тебе свою бестолковость, а&nbsp;от&nbsp;занудных инста-ЗОЖников тебя попросту тошнит',
            'Нет времени заниматься ерундой&nbsp;&mdash; нужны реальные результаты в&nbsp;короткий срок'
          ],
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>


      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          list: [
            'Занимайся в&nbsp;удобное время в&nbsp;комфортном для тебя темпе',
            'Отслеживай изменения, которые перевернут всю твою жизнь',
            'Получай реальные долгосрочные результаты, которые подарят тебе железобетонную уверенность в&nbsp;себе, питаясь тем, что нравится'
          ],
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>


      <%- include(subfolder + 'template-parts/_program.ejs', {
        program: {
          title: 'Перестань волноваться о своём теле и наслаждайся жизнью',
          content: client.program
        }
      });  %>


      <%- include(subfolder + 'template-parts/_format.ejs', {
  format_items: {
    title: 'Достали ЗОЖники? Есть вариант получше!',
    descr: 'Приведи своё тело в&nbsp;форму всего за&nbsp;1&nbsp;месяц',
    items: [
      {
         icon: '/images/template/' + site.template + '/format/' + site.target + '/1.png',
        descr: 'Участники будут получать видеоуроки, домашние задания, инструкции и&nbsp;чек-листы'
      },
      {
        icon: '/images/template/' + site.template + '/format/' + site.target + '/2.png',
        descr: 'Выбравшие продвинутый курс смогут пройти 4&nbsp;вебинара с&nbsp;автором в&nbsp;формате &laquo;Вопрос/Ответ&raquo;'
      },
      {
        icon: '/images/template/' + site.template + '/format/' + site.target + '/3.png',
        descr: 'Для выбравших персональный курс доступны персональные программы питания и&nbsp;тренировок, добавление в&nbsp;закрытый чат поддержки и&nbsp;соглашение на&nbsp;выполнение программы на&nbsp;сумму ее&nbsp;стоимости (в&nbsp;случае, если программа не&nbsp;выполнена, деньги перечислят в&nbsp;благотворительный фонд)'
      }
    ]
  }
      }); %>


      <%- include(subfolder + 'template-parts/_price.ejs', {
  price: {
    title: 'Ежедневное движение к&nbsp;телу мечты с&nbsp;поддержкой профессионального тренера',
    descr: 'Похудей за&nbsp;месяц на&nbsp;5-8 килограмм с&nbsp;гарантией результата',
    items: [
      {
        name: 'Пакет 1',
        amount: '1890<span>₽</span>',
        descr: 'Базовый онлайн курс “Трансформация тела” для тех, кому не нужна дополнительная мотивация и кто ищет только правильный подход и методику работы над своим телом ',
        features: [
          'видеоуроки',
          'домашние задания',
          'чек-листы и инструкции'
        ],
        button: {
          lable: 'Купить', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal1' // Будет использовано при type: 'other' или 'modal' 
        }
      },
      {
        name: 'Пакет 2',
        amount: '3900<span>₽</span>',
        descr: 'Продвинутый курс &laquo;Трансформация тела&raquo; для тех, кто ищет поддержку и&nbsp;нуждается в&nbsp;&laquo;волшебном пенделе&raquo;',
        features: [
          'видеоуроки',
          'домашние задания с обратной связью от автора',
          'инструкции и чек-листы',
          'вебинары/эфиры “Вопрос-Ответ”',
          'закрытая группа/чат поддержки'

        ],
        button: {
          lable: 'Купить', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal2' // Будет использовано при type: 'other' или 'modal' 
        }
      },
      {
        name: 'Пакет 3',
        amount: '11000<span>₽</span>',
        descr: 'Персональный курс &laquo;Трансформация тела&raquo; для тех, кто хочет за&nbsp;короткое время достичь большего, чем просто похудение и&nbsp;готов ответить за&nbsp;свой результат деньгами',
        features: [
          'видеоуроки',
          'домашние задания с авторским разбором',
          'инструкции и чек-листы',
          'персональная программа питания',
          'программа тренировок',
          'вебинары/эфиры “Вопрос-Ответ”',
          'закрытая группа/чат поддержки',
          'постоянная связь с автором в удобном мессенджере/скайпе,',
          'соглашение о выполнении программы на сумму стоимости программы -  в случае невыполнения, оговоренная сумма перечисляется в благотворительный детский фонд'

        ],
        button: {
          lable: 'Купить', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal3' // Будет использовано при type: 'other' или 'modal' 
        }
      }
    ]
  }
      }); %>
      <%- include(subfolder + 'template-parts/_author.ejs', {
        author: {
          is_even_section: true,
          title: client.name,
          descr: page.author_descr,
          content: [  
            {
              image: '/images/photo.jpg',
                list:[
                'Мастер спорта по&nbsp;пауэрлифтингу',
                'Помог более чем 300 людям похудеть',
                'Сам прошел путь от&nbsp;человека, недовольного своим весом, до&nbsp;чемпиона и&nbsp;спортсмена'
                ]
            }
            ]
        }
      });  %>

<%- include(subfolder + 'template-parts/_diplomas.ejs', {
        diplomas: {
          is_even_section: false,
          title: 'Дипломы и&nbsp;награды',
          images: client.diplomas
        }
      }); %>

      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'АНТИЗОЖ&nbsp;&mdash; это твой путь к&nbsp;успеху без напряга',
          descr: '',
          button: {
            lable: 'Записаться на курс', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'price', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

      <%- include(subfolder + 'template-parts/_video.ejs', {
        video: {
          title: 'Видеоотзывы',
          videos: [
            'HlmA8bvCG7A', //YouTube Video ID
            'OiFF-4q_8XE',
            '0XhEEDvVWH8'
          ]
        }
      });  %>

      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>

<%- include(subfolder + 'template-parts/_case.ejs', {
  cases: {
    title: 'Результаты мох клиентов',
    items: [
      {
        name: 'Слатина Анна',
        info: '',
        was: [
        '/images/feedback/annawas.jpg'
        ],
        now: [
        '/images/feedback/annanow.jpg'
        ]
      },
      {
        name: 'Крисюк Сергей',
        info: '',
        was: [
        '/images/feedback/sergeywas.jpg'
        ],
        now: [
        '/images/feedback/sergeynow.jpg'
        ]
      },
      {
        name: 'Татьяна',
        info: '',
        was: [
        '/images/feedback/tatyanawas.jpg'
        ],
        now: [
        '/images/feedback/tatyananow.jpg'
        ]
      },
      {
        name: 'Елена',
        info: '',
        was: [
        '/images/feedback/elenawas.jpg'
        ],
        now: [
        '/images/feedback/elenanow.jpg'
        ]
      },
      {
        name: 'Мария Сакович',
        info: '',
        was: [
        '/images/feedback/mariawas.jpg'
        ],
        now: [
        '/images/feedback/marianow.jpg'
        ]
      },
      {
        name: 'Кирилл Онуфренко',
        info: '',
        was: [
        '/images/feedback/kirilwas.jpg'
        ],
        now: [
        '/images/feedback/kirilnow.jpg'
        ]
      }
    ]
  }
});  %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>
      
      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form1
      }); %>
      
      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form2
      }); %>
      
      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form3
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>