<!DOCTYPE html>
<html lang="ru">
    <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '/ok/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: false // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' }
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper" class="page">
      <header class="header">
        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>
      </header>
      <section class="content">
        <div class="container">
          <div class="row align-items-end justify-content-center py-3">
            <div class="col-12 col-md-10 col-lg-8 text-center">
              <h1 class="content__title">Вы&nbsp;успешно записались на&nbsp;бесплатный тест-драйв курса &laquo;АНТИЗОЖ-Трансформация&raquo; Романа Бортника.</h1>
              <p class="content__descr">Чтобы получить доступ к видеоуроку - перейдите в мессенджер.</p>
              <a href="https://m.me/<%- site.fb_group_id %>?ref=/start" class="btn">ПЕРЕЙТИ</a>
            </div>
            <div class="col-12 col-md-10 col-lg-7"><img src="/images/base/contact.jpg" alt=""></div>
          </div>
        </div>
      </section>
      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>