<%# 
  Данные о сайте и клиенте, которые должны быть доступны на всех страницах.
  _client_data содержит два объекта:
  1) site (данные сайта в целом, одинаковые для всех страниц, напр. коды аналитики и другие технические данные)
  2) client (данные о клиенте, т.е. содержание отображаемое на страницах). 
  
  Параметры переменной client используются при включении частей шаблона на страницу, как источник данных. 
  Если необходимо заменить данные шаблона для отдельной страницы - на место переменной в include становятся сами данные в изменённом варианте, т.е. 

    include(subfolder + 'template-parts/_header_bullets.ejs', {
      bullets_list: client.bullets
    });

    изменится на

    include(subfolder + 'template-parts/_header_bullets.ejs', {
      bullets_list: [
      'Получи...',
      'Повысь эффективность...',
      'Мощная...'
    ]
    });
%>
<% 
  site = {
    url: 'http://romanbortnik.icoach.io',
    template: 'cornflower', // Доступные стили внешнего вида: deep, herb, clear, cornflower, dark, lemon, orange
    target: 'business', // Доступные направления сайта (влияет на отображение): without picture, business
    title: 'Записаться на&nbsp;тест-драйв', // Глобальный заголовок для всех страниц сайта. В файлах каждой страницы его можно заменить на локальный в page.title
    footer_left: [
      // Строки для левой колонки _footer
      '<nobr>+3(896)32450830</nobr>',
     ' <a href="https://www.facebook.com/%D0%A4%D0%B8%D1%82%D0%BD%D0%B5%D1%81-%D1%82%D1%80%D0%B5%D0%BD%D0%B5%D1%80-%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD-%D0%91%D0%BE%D1%80%D1%82%D0%BD%D0%B8%D0%BA-141564476426589/" target="_blank"><i class="fab fa-facebook" style="margin-right:5px;"></i>Facebook</a>'
     

    ],
    footer_right: [
      // Строки для правой колонки _footer
      'deragno@mail.ru',
      ' <a href="https://www.instagram.com/roman__bortnik/" target="_blank"><i class="fab fa-instagram"  style="margin-right:5px;"></i>Instagram</a>'
    ],
    vk_group_id: '',
    fb_group_id: '141564476426589', // Будет использовано при построении ссылки на Бота в Messenger
    yandex_money: '4100110404816841', // ID кошелька Yandex.Деньги. Обязательные параметр при наличии страницы оплаты в схеме проекта. 
    analytics: {
      // ID аккаунтов для включения в коды счетчиков
      facebook_pixel_id: '2567123176679593',
      google_tracking_id: 'UA-89298735-13', //код всегда одинаковый, для всех проектов
      yandex_metrica_id: '55365259',
      vk_retarget_url: '',
    },
    form: {
      id: '', // Если оставить пустым будет испольовано стандартное id modal
      title: '', // Если оставить пустым будет использовано значение site.title
      offer: 'Вадим Салманов - бесплатный МК', // Отображается в CRM для определения предложения для записи на которое пользователь заполнил форму 
      trello_list_id: '5d19e8220b95e271bf0d4fb1', // Обязательный параметр для работоспособности формы
      redirect: '/ok/', // относительный путь к странице подтверждения успешного сохранения данных
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: true,
      input_phone: true,
      submit_btn_lable: 'Записаться'
    },
    form1: {
      id: 'modal1', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Пакет 1', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Роман Бортник- Пакет 1',
      trello_list_id: '5d76d74a516fdf0345b2318d',
      redirect: '/course/pay-1/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: true,
      input_phone: true,
      submit_btn_lable: 'Купить'
    },
    form2: {
      id: 'modal2', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Пакет 2', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Роман Бортник- Пакет 2',
      trello_list_id: '5d76d7675b0eac335754a1f0',
      redirect: '/course/pay-2/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: true,
      input_phone: true,
      submit_btn_lable: 'Купить'
    },
    form3: {
      id: 'modal3', // Если оставить пустым будет испольовано стандартное id modal
      title: 'Пакет 3', // Если пустое значение будет использовано значение page.title либо site.title
      offer: 'Роман Бортник- Пакет 3',
      trello_list_id: '5d76d77b40532e362a20427f',
      redirect: '/course/pay-3/',
      input_name: true, // определяет включать ли соответствующее поле в форму
      input_email: true,
      input_phone: true,
      submit_btn_lable: 'Купить'
    },
    event: {
      // Данное поле перенесено из Jekyll шаблона, но оно нигде не использовалось
      textdate: '' //убрать hidden-xs
    },
    modified_bootstrap_styles: true, // Если false - на страницу будут добавлены стандартные стили bootstrap.min.css из CDN. 
  }; 

  client = {
    name: 'Роман Бортник',
    description: 'диетолог, инструктор тренажерного зала, фитнес-тренер',
    bullets:  [
      'Получи бесплатный видеоурок + материалы по&nbsp;питанию (PDF-инструкция) + домашние задания с&nbsp;проверкой автором и&nbsp;обратной связью.',
      'Для всех прошедших бесплатный урок и&nbsp;выполнивших задания пройдет розыгрыш призов',
      '1-е место&nbsp;&mdash; бесплатный продвинутый курс &laquo;Трансформация тела&raquo; за&nbsp;3900&nbsp;руб. + бесплатная консультация автора; (1&nbsp;приз), 2-е место&nbsp;&mdash; бесплатный базовый курс &laquo;Трансформация тела&raquo; (2&nbsp;приза), 3-е место&nbsp;&mdash; скидка&nbsp;50% на&nbsp;продвинутый курс &laquo;Трансформация тела&raquo; (3&nbsp;приза)'
    ],
    problems_list: [
      'Ты&nbsp;хочешь быть здоровым, энергичным и&nbsp;сильным человеком, у&nbsp;которого на&nbsp;всё хватает запала и&nbsp;энергии',
      'Десятки популярных &laquo;систем питания&raquo; доказали тебе свою бестолковость, а&nbsp;от&nbsp;занудных инста-ЗОЖников тебя попросту тошнит',
      'Нет времени заниматься ерундой&nbsp;&mdash; нужны реальные результаты в&nbsp;короткий срок'
    ],
    solutions_list: [
      'Занимайся в&nbsp;удобное время в&nbsp;комфортном для тебя темпе',
      'Отслеживай изменения, которые перевернут всю твою жизнь',
      'Получай реальные долгосрочные результаты, которые подарят тебе железобетонную уверенность в&nbsp;себе, питаясь тем, что нравится'

    ],
    program: [
    {
      title:'',
      list: [
        {
        list_title:[
          'Этап №1'
          ],
          list_description:[
          'Подготовительный'
          ],
        list_item:[
          '<b>Задача:</b>',
          '1. Познакомить с принципами курса Антизож. Дать все инструменты и научить ими легко и быстро пользоваться для достижения результата',
          '2. Развеять мифы в тренировках и питании',
          '<b>Что ты получишь:</b>',
          '1. Научишься рассчитывать свой основной обмен. Самостоятельно составлять рацион по макронутриентах (белки, жиры, углеводы)',
          '2. Поставишь четкую цель по системе SMART',
          '3. Научишься методам поиска мотивации и методами управления мотивацией',
          '4. Построишь фундамент для трансформации на всю жизнь'

        ]
        },
        {
        list_title:[
          'Этап №2'
          ],
          list_description:[
          'Внедрения информации в жизнь'
          ],
        list_item:[
          '<b>Задача:</b>',
          '1. Набор и восстановление мышечной массы',
          '2.  Восстановление и разгон обмена веществ',
          '3. Закрепляем новые пищевые привычки, которые позволят составлять качество тела всю жизнь'
        ]
        },
        {
        list_title:[
          'Этап №3'
          ],
          list_description:[
          'Полное включение в трансформацию'
          ],
        list_item:[
          ' На этом этапе можно увидеть значительные показатели прогресса. Сильно изменится объем и вес. Ты будешь уметь самостоятельно корректировать процессы похудения, тренировок',
          '<b>Задача:</b>',
          'Уметь полностью контролировать процесс похудения и тренировок. Подстраивать его под разные режимы дня, отпуск, выходные и так далее'          
        ]
        },
        {
        list_title:[
          'Этап №4'
          ],
          list_description:[
          'Трансформация для профессионалов'
          ],
        list_item:[
        'Многим будет достаточно 3 этапов, чтобы кардинально изменить свое тело. А для тех, кто хочет шлифовать свое тело до идеала, добро пожаловать в 4 этап. Здесь  вы получите специальные схемы питания,  методики  тренировок. Улучшим ваши слабые стороны и усовершенствуем сильные'
        ]
        }
      ]
    }
  ],
    about: [
      {
        image: '/images/photo.jpg',
        list: [
        'Мастер спорта по&nbsp;пауэрлифтингу',
          'Помог более чем 300 людям похудеть',
          'Сам прошел путь от&nbsp;человека, недовольного своим весом, до&nbsp;чемпиона и&nbsp;спортсмена'
        ]
      }
    ],
    diplomas: [
      '/images/diploma/01.jpeg',
      '/images/diploma/02.jpeg',
      '/images/diploma/03.jpeg',
      '/images/diploma/04.jpeg',
      '/images/diploma/05.jpeg',
      '/images/diploma/06.jpeg',
      '/images/diploma/07.jpeg',
      '/images/diploma/08.jpeg',
      '/images/diploma/09.jpeg',
      '/images/diploma/10.jpeg',
      '/images/diploma/11.jpeg',
      '/images/diploma/12.jpeg',
      '/images/diploma/13.jpeg',
      '/images/diploma/14.jpeg'
    ],
    videos: [
      // YouTube Video IDs
      'AHrl09cPWhk',
      'FEPMuGzFsAE'
    ],
    cases: [
      {
        name: 'Елена Феоктистова',
        info: 'Директор Центра Финансовой Культуры <br>@elena_fincult',
        was: [
        '/images/feedback/salatina_anna.jpg'
        ],
        now: [
        '/images/feedback/salatina_anna.jpg'
        ]
      }
    ],
    reviews: [
      {
        name: 'Слатина Анна',
        title: '',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/anyaslatina '
        },
        comment: 'Хочу от&nbsp;всей души поблагодарить Романа за&nbsp;реализацию желаний! Цель была скинуть жирок, накопленный после незабываемого отпуска в&nbsp;Египте. Где ела много и&nbsp;ни&nbsp;в&nbsp;чем себе не&nbsp;отказывала. Отдых&nbsp;же.) Когда приехала домой, встала на&nbsp;весы и&nbsp;огорчилась, +5&nbsp;кг. Для меня это не&nbsp;нормально. Я&nbsp;люблю спорт и&nbsp;слежу за&nbsp;фигурой. Захотелось быстро сбросить, и&nbsp;прийти в&nbsp;форму, но&nbsp;при этом не&nbsp;ограничивать себя и&nbsp;кушать любимые вкусняшки. Роман помог скорректировать рацион так, чтобы мне было комфортно. Был рассчитан баланс бжу и&nbsp;суточная калорийность, в&nbsp;которую я&nbsp;могу вписать все, что хочу. Кушала и&nbsp;макароны, и&nbsp;мороженое, и&nbsp;булочки, и&nbsp;любую шоколадку, Баунти. В&nbsp;результате &minus;8&nbsp;кг за&nbsp;4&nbsp;месяца!!! А&nbsp;щечки пропали, зато появилась тонкая талия, как мечтают все девчонки! Похудение прошло без стресса, не&nbsp;было срывов. Благодаря тому, что Роман меня тренировал, кожа стала упругой и&nbsp;мышцы не&nbsp;сгорели. Благодарю за&nbsp;качественное похудение! Буду и&nbsp;дальше продолжать тренироваться с&nbsp;Романом, который стал для меня понимающим и&nbsp;мотивирующим наставником!',
        picture: '/images/feedback/salatina_anna.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Крисюк Сергей, 33&nbsp;г.',
        title: 'главный проектный инженер в&nbsp;строительной компании',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/id97077 '
        },
        comment: 'Занимаюсь у&nbsp;Романа Бортника уже год. За&nbsp;первые полгода скинул 13&nbsp;килограмм, не&nbsp;спеша. Сначала тренировались делать 30&nbsp;подтягиваний. Теперь развлекаемся&nbsp;&mdash; отрабатываем выход на&nbsp;турник, на&nbsp;две. График тренировок действительно удобный.',
        picture: '/images/feedback/sergey_krisuk.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Татьяна',
        title: '',
        link: {
          lable: '', // будет отображена только при наличии значения
          href: ''
        },
        comment: 'Диагноз варикозное расширение вен, артроз коленных суставов, спинной остеохондроз. Не&nbsp;было никаких представлений о&nbsp;рациональном питании. Сидела на&nbsp;разных диетах, сбрасывала, срывалась и&nbsp;набирала еще больше. Нужно было построить тренировки так , чтобы не&nbsp;навредить при таких диагнозах. Благодаря специальной программе тренировок, индивидуальному плану питания и&nbsp;большой силы воли, сбросила около 20&nbsp;кг. Укрепилась спина, уменьшился остеохондроз. Снизился вес и&nbsp;за&nbsp;счет тренировок улучшили варикозное состояние.Научилась правильным привычкам питания, смогла сохранить результат.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Ольга Сергеева',
        title: 'работник таможенной службы',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/id32266'
        },
        comment: 'Рома! Спасибо за&nbsp;терпение и&nbsp;понимание! Твои тренировки дают не&nbsp;только результат, который я&nbsp;хочу, но&nbsp;и&nbsp;заряд бодрости и&nbsp;хорошего настроения.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Мария Сакович',
        title: '',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/takaya_raznaya '
        },
        comment: 'Всем привет! Рекомендую персональные тренировки у&nbsp;Романа Бортника, клуб на&nbsp;&laquo;Кондратьевском&raquo;. Во-первых, с&nbsp;ним мне удалось добиться желаемых результатов: я&nbsp;похудела на&nbsp;8&nbsp;кг за&nbsp;2,5 месяца (-10&nbsp;см в&nbsp;груди, талии, бедрах). Во-вторых, Роман объяснил правила питания и&nbsp;построил план тренировок, принимая во&nbsp;внимание все мои просьбы/ограничения/условия. На&nbsp;время отъездов Роман строил мне план самостоятельных тренировок. В-третьих, с&nbsp;Романом можно построить гибкий график тренировок, что особенно важно, если у&nbsp;вас ненормированный рабочий день. И, в-четвертых, с&nbsp;Романом просто весело и&nbsp;интересно проводить время в&nbsp;спортзале. Рекомендую!',
        picture: '/images/feedback/maria.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Елена',
        title: 'руководитель отдела, мать троих детей',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/id397986731'
        },
        comment: 'Роман Бортник&nbsp;&mdash; профессионал высокого класса! Рада поделиться отзывом об&nbsp;опыте работы с&nbsp;тренером клуба &laquo;Кондратьевский&raquo; Романом Бортником. Он&nbsp;просто лучший&nbsp;&mdash; профессиональный подход и&nbsp;в&nbsp;тренировке, и&nbsp;в&nbsp;умении установить эмоциональный контакт, а&nbsp;главное&nbsp;&mdash; создать мотивацию к&nbsp;регулярным упорным занятиям. Я&nbsp;пришла с&nbsp;желанием укрепить спину, которая постоянно болела и&nbsp;мешала все успевать и&nbsp;в&nbsp;офисе и&nbsp;дома с&nbsp;тремя детьми. Роман каждый раз подбирал новые варианты и&nbsp;комбинации упражнений, чутко реагируя на&nbsp;вариации состояния, особенно первые месяцы. Роман также дал развернутые консультации по&nbsp;коррекции питания. Что в&nbsp;сочетании с&nbsp;тренировками, с&nbsp;увеличивающейся нагрузкой привело к&nbsp;плавному снижению веса. Так что теперь у&nbsp;меня спина в&nbsp;отличной форме, снижение веса на&nbsp;7&nbsp;кг и&nbsp;тело, которое &laquo;просит&raquo; тренировок. Да&nbsp;и&nbsp;дух тоже, т.к.&nbsp;у&nbsp;Романа еще и&nbsp;отличное чувство юмора!',
        picture: '/images/feedback/elena.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Кирилл Онуфренко',
        title: 'программист, 37 лет',
        link: {
          lable: 'Вкотакте', // будет отображена только при наличии значения
          href: 'https://vk.com/kovdor '
        },
        comment: 'Работаю с&nbsp;Романом и&nbsp;действительно доволен результатом. Он&nbsp;подходит к&nbsp;тренировкам со&nbsp;мной индивидуально, подстраивается под меня. С&nbsp;его помощью, с&nbsp;нового года я&nbsp;уже сбросил 10&nbsp;кг и&nbsp;продолжаю сбавлять&nbsp;&mdash; сегодня проколол уже третью дырку на&nbsp;ремне! Тренировки оптимальны по&nbsp;сложности&nbsp;&mdash; всегда соответствуют тому, что я&nbsp;могу. Большую роль также сыграло и&nbsp;то, что с&nbsp;помощью Романа я&nbsp;научился контролировать собственное питание. Если вы&nbsp;действительно настроены на&nbsp;результат, рекомендую!',
        picture: '/images/feedback/kirill.jpg' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      },
      {
        name: 'Мила Звыкова',
        title: '',
        link: {
          lable: 'Вконтакте', // будет отображена только при наличии значения
          href: 'https://vk.com/id551243064'
        },
        comment: 'Если говорить о&nbsp;клубе, который на&nbsp;Кондратьевском, то&nbsp;среди тренеров можно смело выбирать Романа.Занимаюсь с&nbsp;ним второй год. То, что пишут о&nbsp;нем, соответствует действительности. Чтобы не&nbsp;повторяться, хочу отметить ещё профессиональную этику этого специалиста на&nbsp;должном уровне, его терпение и&nbsp;терпимость. Все занятия всегда проходят в&nbsp;хорошем темпе и&nbsp;с&nbsp;учетом конкретно моих индивидуальных особенностей. Спасибо Роме за&nbsp;достигнутые результаты и&nbsp;надежду на&nbsp;движение вперед.',
        picture: '' // например /images/feedback/01.jpg Если оставить пустым, будет использовано стандартное изображение quote
      }
    ],
    price_items: [
      {
        name: 'Один день тренинга',
        amount: '80&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal1' // Будет использовано при type: 'other' или 'modal' 
        }
      },
      {
        name: 'Два дня тренинга',
        amount: '140&nbsp;000&nbsp;<span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal2' // Будет использовано при type: 'other' или 'modal'  
        }
      },
      {
        name: 'Три дня тренинга',
        amount: '<nobr>180-210&nbsp;000&nbsp;</nobr><span>₽</span>',
        descr: '',
        features: [],
        button: {
          lable: '', // Если пустое значение будет использовано значение page.title либо site.title
          type: 'modal', // Варианты значений: modal, price, m.me, other
          href: '#modal3' // Будет использовано при type: 'other' или 'modal' 
        }
      }
    ],
    partners: [
      '/images/feedback/logo-oriflame.png',
      '/images/feedback/inter-sport.png',
      '/images/feedback/stroitransgaz.png',
      '/images/feedback/novatek.png',
      '/images/feedback/docke.png',
      '/images/feedback/mosoblgas.png',
      '/images/feedback/rutektor.png',
      '/images/feedback/prokonsim.png'
    ]
  };
%>