<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: '', // Если пустое значение будет использовано значение site.title
      permalink: '/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: '<em>АНТИЗОЖ-трансформация</em>&nbsp;&mdash; для тех, кто хочет худеть и&nbsp;есть шоколадки',
      header_subtitle: 'Тест-драйв курса &laquo;АНТИЗОЖ-Трансформация&raquo; с&nbsp;Романом Бортником',
      video: 'sSlUtulaNu4', // При пустом значении блок _header_utp отобразится с центрированием текстового содержимого
      problems_title: 'Хочешь восстановить фигуру после родов, но&nbsp;любишь вкусняшки?',
      problems_subtitle: 'Ты&nbsp;бы с&nbsp;радостью пошла в&nbsp;спортзал, но&nbsp;не&nbsp;можешь бросить семью. И&nbsp;сладости',
      solutions_title: 'Верни себе сильное и&nbsp;красивое тело, которому завидовали окружающие',
      solutions_subtitle: 'Тест-драйв АНТИЗОЖ-курса, который изменит тебя, не&nbsp;меняя образа жизни',
      author_descr: 'фитнес-тренер, диетолог, нутрициолог',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение client.description
        image: 'images/social/social_photo.jpg'
      },
      slick_slider: true // Добавлять ли на страницу скрипт и стили слайдера Slick (необходим для блоков Дипломы, Благодарности)
    };

    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>
  <body class="<%= site.template %>">
    <div id="wrapper">
      <header class="header large">

        <%- include(subfolder + 'template-parts/_header_descr.ejs', {
          header_description: client.name + '&nbsp;&mdash; ' + client.description
        }) %>

        <%- include(subfolder + 'template-parts/_header_utp.ejs', {
          utp_button: {
            lable: 'Попробовать тест-драйв', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'modal', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        });  %>

        <%- include(subfolder + 'template-parts/_header_bullets.ejs', {
          bullets_list: client.bullets
        });  %>
        
        <div class="header__next"><a href="#problems">&darr;</a></div>
      </header>


      <%- include(subfolder + 'template-parts/_problems.ejs', {
        problems: {
          list: client.problems_list,
          image: '/images/template/target/' + site.target + '/problems.png',
        }
      });  %>


      <%- include(subfolder + 'template-parts/_solutions.ejs', {
        solutions: {
          list: client.solutions_list,
          image: '/images/template/target/' + site.target + '/solutions.jpg',
        }
      });  %>


      <%# include(subfolder + 'template-parts/_program.ejs', {
        program: {
          title: 'Расписание вебинаров',
          list: client.program
        }
      });  %>


      <%- include(subfolder + 'template-parts/_author.ejs', {
        author: {
          is_even_section: true,
          title: client.name,
          descr: page.author_descr,
          content: client.about
        }
      });  %>


      <%- include(subfolder + 'template-parts/_diplomas.ejs', {
        diplomas: {
          is_even_section: false,
          title: 'Дипломы и&nbsp;награды',
          images: client.diplomas
        }
      }); %>


      <%- include(subfolder + 'template-parts/_calltoact.ejs', {
        cta: {
          title: 'АНТИЗОЖ&nbsp;&mdash; это твой путь к&nbsp;успеху без напряга',
          descr: '',
          button: {
            lable: 'Пройти тест-драйв', // Если пустое значение будет использовано значение page.title либо site.title
            type: 'modal', // Варианты значений: modal, price, m.me, other
            href: '' // Будет использовано при type: 'other' 
          }
        }
      }); %>

<%- include(subfolder + 'template-parts/_video.ejs', {
  video: {
    title: 'Видеоотзывы',
    videos: [
      'HlmA8bvCG7A', //YouTube Video ID
      'OiFF-4q_8XE',
      '0XhEEDvVWH8'
    ]
  }
});  %>

      <%- include(subfolder + 'template-parts/_review.ejs', {
        reviews: {
          title: 'Отзывы',
          default_picture: 'quote', // варианты значения: quote, quote2 (это изображения из папки /images/template/{{ site.template }} )
          items: client.reviews
        }
      });  %>

      <%- include(subfolder + 'template-parts/_modal.ejs', {
        modal: site.form
      }); %>

      <div class="container">
        <hr  style="margin-top: 0;">
      </div>

      <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>